{% extends 'base.html' %}

{% block head %}
<title>Register</title>
<a href="{{ url_for('login_page') }}">LogIn</a>

{% endblock %}

{% block body %}
    <h3 style="text-align: center">You can register your account here</h3>
    <div class="container">
        <form method="POST" class="form-register" style="text-align: center">
            {{ form.hidden_tag() }}
            {{ form.username.label() }}
            {{ form.username(placeholder = "username") }}
            <br>
            {{ form.password.label() }}
            {{ form.password(placeholder = "password") }}
            <br>
            {{ form.password_Confirm.label() }}
            {{ form.password_Confirm(placeholder = "password") }}
            <br>
            {{ form.submit }}
        </form>
</div>
{% endblock %}

     
  